<html>
<%- partial('_partial/head') %>
<body>
<header>
  <%- partial('_partial/header') %>
</header>
<%- partial('_partial/container') %>
<footer><%- partial('_partial/footer') %></footer>
</body>
</html>